body, html {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#notification { 
	overflow: scroll;
	border: 1px black solid;
	color: white;
	margin: 0 auto;
	max-height: 5em;
}
.snowbro {
	margin: 0px;
	background: #79BDEB;
}
.guy_static {
	margin: 0px;
	background: #E3595B;
}
#banner {
	color: white;
	/*margin-top: -50%;*/
	width: 100%;
	position: fixed;
	top: 50%;
	background: rgba(0,0,0,0.5);
}
.hidden {
	display: none;
}